<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0' \>
  <title>Meet the Team</title>
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Bootswatch Style Sheet-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css"
    integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
</head>

<!--Navigation bar-->
<div id="nav-placeholder">

</div>


<!--end of Navigation bar-->

<body>
  <div class="jumbotron text-center">
    <h1 class="display-2">Our Team</h1> 

      <img src="https://live.staticflickr.com/7110/7094703477_3c089ea88c_n.jpg" width="900" height="300" class="d-inline-block align-top" alt="">

  </div>
  <div class="container">
    <div class="card-deck">
      <div class="card border-primary text-center mb-3 bg-primary" style="max-width: 25rem;">
        <div class="card-header bg-primary text-white">Morgaine Bowers</div>
        <img class="card-img-top" src="../static/images/MorgaineB.jpg">
        <div class="card-body">
          <a class="nav-link text-center text-white" href="https://www.linkedin.com/" target="_blank">Morgaine's Linkedin</a>
          <a class="nav-link text-center text-white" href="https://github.com/MorgaineB/" target="_blank">Morgaine's GitHub</a>
        </div>
      </div>
      <div class="card border-primary text-center text-white mb-3 bg-primary" style="max-width: 25rem;">
        <div class="card-header text-white">Trumane Lee</div>
        <img class="card-img-top" src="../static/images/TrumaneL.jpg">
        <div class="card-body">
        <a class="nav-link text-center text-white" href="https://www.linkedin.com/in/trumane-lee/" target="_blank">Trumane's Linkedin</a>
        <a class="nav-link text-center text-white" href="https://github.com/Trumane12311" target="_blank">Trumane's GitHub</a>
        </div>
      </div>
      <div class="card border-primary text-center mb-3 bg-primary" style="max-width: 25rem;">
        <div class="card-header text-white">Sydney Cavallaro</div>
        <img class="card-img-top" src="../static/images/SydneyC.jpg">
        <div class="card-body">
          <a class="nav-link text-center text-white" href="https://www.linkedin.com/" target="_blank">Sydney's Linkedin</a>
          <a class="nav-link text-center text-white" href="https://github.com/syd-cavs" target="_blank">Sydney's GitHub</a>
        </div>
      </div> 
    </div>
  </div>
  <div class="container">
    <div class="card-deck">
      <div class="card border-secondary text-center mb-3 bg-primary" style="max-width: 22rem;">
        <div class="card-header text-white">Ana Linda Penny</div>
        <img class="card-img-top" src="../static/images/AnaLindaP.jpg">
        <div class="card-body">
          <a class="nav-link text-center text-white" href="https://www.linkedin.com/in/linda-penny/" target="_blank">Ana Linda's Linkedin</a>
          <a class="nav-link text-center text-white" href="https://github.com/AnaLindaPenny" target="_blank">Ana Linda's GitHub</a>
        </div>
      </div>
      <div class="card border-secondary text-center mb-3 bg-primary" style="max-width: 22rem;">
        <div class="card-header text-white">Harrison Kmiec</div>
        <img class="card-img-top" src="../static/images/HarrisonK.jpg">
        <div class="card-body">
        <a class="nav-link text-center text-white" href="https://www.linkedin.com/" target="_blank">Harrison's Linkedin</a>
        <a class="nav-link text-center text-white" href="https://github.com/hkmiec" target="_blank">Harrison's GitHub</a>
      </div>
    </div>
      

  <script src="/static/style.css"></script>


</body>

</html>