<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0' \>
  <title>Meet the Team</title>
  <!-- Bootstrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/CSS/bootstrap.css">
  </head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id='navBar'>
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">🎢</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Visualizations
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="chartist.html">Animated Pie Plots</a>
                <a class="dropdown-item" href="multiplots.html">Bar Graphs</a>
                <a class="dropdown-item" href="international.html">International Data</a>
                <a class="dropdown-item" href="recordholders.html">Record Holders</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="glossary.html">Glossary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="API.html">API</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="h-100 p-5 text-white bg-dark container-fluid">
    <h1 class="display-2 text-white text-center">Our Team</h1>
      <!--<img src="http://cdn.cnn.com/cnnnext/dam/assets/190705153928-millennium-force-rollercoaster-004.jpg" class="img-responsive center" alt="">-->
    <br>
    </div>
 <br>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      <div class="card border-primary text-center bg-primary col-mb-4" style="max-width: 25rem;">
        <div class="card-header bg-primary text-white">
          <h3>Morgaine Bowers</h3></div>
        <img class="card-img-top" src="../static/images/MorgaineB.jpg">
        <div class="card-body">
          <a class="nav-link text-center text-white" href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
          <a class="nav-link text-center text-white" href="https://github.com/MorgaineB/" target="_blank">GitHub</a>
        </div>
      </div>
      </div>
      <br>
      <div class="col-md-4">
      <div class="card border-primary text-center text-white col-mb-4 bg-primary" style="max-width: 25rem;">
        <div class="card-header text-white">
          <h3>Trumane Lee</h3></div>
        <img class="card-img-top" src="../static/images/TrumaneL.jpg">
        <div class="card-body">
        <a class="nav-link text-center text-white" href="https://www.linkedin.com/in/trumane-lee/" target="_blank">LinkedIn</a>
        <a class="nav-link text-center text-white" href="https://github.com/Trumane12311" target="_blank">GitHub</a>
        </div>
      </div>
      </div>
      <br>
      <div class="col">
      <div class="card border-primary text-center bg-primary col-mb-4" style="max-width: 25rem;">
        <div class="card-header text-white">
          <h3>Sydney Cavallaro</h3></div>
        <img class="card-img-top" src="../static/images/SydneyC.jpg">
        <div class="card-body">
          <a class="nav-link text-center text-white" href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
          <a class="nav-link text-center text-white" href="https://github.com/syd-cavs" target="_blank">GitHub</a>
        </div>
      </div> 
    </div>
  </div>
  </div>
<br>
      <div class="container">
    <div class="row">
      <div class="col-md-4">
      <div class="card border-primary text-center bg-primary col-mb-4" style="max-width: 25rem;">
        <div class="card-header bg-primary text-white">
          <h3>Linda Penny</h3></div>
          <img class="card-img-top" src="../static/images/AnaLindaP.jpg">
        <div class="card-body">
          <a class="nav-link text-center text-white" href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
          <a class="nav-link text-center text-white" href="https://github.com/MorgaineB/" target="_blank">GitHub</a>
        </div>
      </div>
      </div>
      <div class="col-md-4">
      <div class="card border-primary text-center text-white col-mb-4 bg-primary" style="max-width: 25rem;">
        <div class="card-header text-white">
          <h3>Harrison Kmiec</h3></div>
          <img class="card-img-top" src="../static/images/HarrisonK.jpg" alt="Image of Harrison Kmiec">
        <div class="card-body">
        <a class="nav-link text-center text-white" href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
        <a class="nav-link text-center text-white" href="https://github.com/hkmiec" target="_blank">GitHub</a>
        </div>
      </div>
      </div>
  <div class="col-md-4">
    <div class="card bg-primary text-white">
        <div class="card-body">
            <h2 style="font-size:160%; font-weight: bold;">Languages & Libraries Utilized</h2>
            <hr class="lighthr">
            <ul style="font-size:110%; line-height: 1.6; list-style-type: circle;">
                <li>
                    Jupyter Notebook
                </li>
                <li>
                    Python
                    <ul style="line-height: 1.6; list-style-type:disc;">
                        <li>Pandas</li>  
                        <li>GeoPandas</li>                        
                        <li>Web Scrapping</li>
                        <li>BeautifulSoup</li>
                    </ul>
                </li>
                <li>MongoDB</li>
                <li>Javascript
                    <ul style="line-height: 1.6; list-style-type:disc;">
                        <li>D3.js</li>
                        <li>Plotly.JS</li>
                        <li>Chartist.js</li>
                        <li>Leaflet.js
                            <ul>
                                <li>Choropleth</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Heroku</li>                  
                <li>HTML</li>
                <li>CSS
                    <ul style="line-height: 1.6; list-style-type:disc;">
                        <li>Bootstrap</li>
                    </ul>
                </li>
                <li>JSON</li>
                  <ul style="line-height: 1.6; list-style-type:disc;">
                    <li>GeoJSON</li>
                  </ul>
            </ul>
        </div>
    </div>
</div>
    </div>
      </div>
  </div>
  <br>
  <div class="container">
  <div class="row">
  </div>
  <div class="col-md-12">
      <div class="card bg-primary text-white">
          <div class="card-body">
              <h2 style="font-size:145%; font-weight: bold;">Brief Project Summary & ETL</h2>
              <hr class="lighthr">
              <h4 style="font-size:120%; font-weight: bold;">Finding Inspiration</h3>
              <p style="font-size:110%; line-height: 1.6;">Collectively as a team we elected to choose a topic that was fun, interesting and exciting to explore in more detail. 
                We have enjoyed analyzing these types of data resources. Our ride during this project has had some ups, downs, bumps and head shaking experiences but overall the challenges that we encountered, have definitely strenghtened our ability to get to the finish line which is being demonstrated on the Heroku deployment link shown below.
              </p>              
              <h4 style="font-size:120%; font-weight: bold;">Data Review & Analysis</h3>
              <p style="font-size:110%; line-height: 1.6;">We reviewed the various datasets from the <strong>RCDB (Roller Coaster Database)</strong> website which included data regarding Domestic & International Roller Coasters, Cencus Reports, Record Holders, etc. 
                We realized that the data volume was quite high so we decided to write various scripts to web scrape the data.
              </p>
              <h4 style="font-size:120%; font-weight: bold;">Extract, Load & Transform</h3>
              <ul style="font-size:110%; line-height: 1.6; list-style-type: circle;">
                  <li>
                      Developed various scripts to web scrape only the relevant data from the different sections of the website.
                  </li>
                  <li>
                      Loaded the web scraped data into various Excels and remote MongoDB for further analysis.
                  </li>
                  <li>
                      Consolidated the data that was collected into respective data frames while cleaning the data and renaming columns as needed.
                  </li>
                  <li>
                      Created interactive bar charts, pie plots, maps, etc.
                </li>
              </ul>
              <h3 style="font-size:120%; font-weight: bold;">Deployment</h3>
              <ul style="font-size:110%; line-height: 1.6; list-style-type: circle;">
                  <li>Via Heroku Cloud Application Platform.
                  </li>
              </ul>
          </div>
      </div>
  </div>
  </div>

</body>

<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <p>Thank you for catching a ride with us!</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
    </div>
    <div class="footer-copyright text-center py-3">Project Github: 
        <a href="https://github.com/MorgaineB/Project2"> github.com</a>
    </div>
    </footer>  


</html>