<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Record Holders Map</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/CSS/bootstrap.css">
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  
  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/CSS/mapstyles.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id='navBar'>
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">🎢</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Visualizations
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="chartist.html">Animated Pie Plots</a>
              <a class="dropdown-item" href="multiplots.html">Bar Graphs</a>
              <a class="dropdown-item" href="international.html">International Data</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">The Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="glossary.html">Glossary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="API.html">API</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- map div -->
  <div id="map"></div>


  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

<!-- JQuery for GeoJSON Layers -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

  <!-- API key -->
  <script type="text/javascript" src="../static/js/config.js"></script>
  <script type="text/javascript" src="../static/js/records.js"></script>

</body>

<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
      <div class="row">
          <p>Thank you for catching a ride with us!</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">

  </div>
  <div class="footer-copyright text-center py-3">Project Github: 
      <a href="https://github.com/MorgaineB/Project2"> github.com</a>
  </div>
  </footer>  

</html>